*{
    margin:0%;
    padding:0%;
                    
}


/*----------HOME----------*/

/*------Encabezado------*/

header{ 
    background-color:#edede9ff ;
    width: 100%; 
    height: 77.55px;
    z-index: 1; 
    margin-bottom: 0;
}
.navegacion{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    height: 100%;
}

.logonav {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 0;
    float:left;    
    font-family: 'Lobster', sans-serif;
    font-size: 3vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 99%;
    
}
/*------Menu de navegacion------ */
.menu-navegacion{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-left: 0;
    
}
.menu-navegacion li {
    list-style: none;
    display: inline-block; 
    margin-bottom: 15px;
    height: 26.4px; 
}

.menu-navegacion li a{ 
    text-decoration: none;
    height: 29px;
    display: flex;
    justify-content: space-around;
    padding: 0 3.5vw; 
    font-size: 1.3vw;
    font-family: 'Rethink Sans', sans-serif;
    color: black; 
    font-weight: bold;
}


.menu-navegacion li a:hover{
    text-decoration: underline;
    color:#d5bdafff;
    transition: 1s;
} 

.contacto{
  width: 50px;
  margin-bottom: -15px;
}
.contacto:hover{
    color: #d5bdafff;
    transition: 1s;
}

/*------Submenu------*/

.submenu{
	position: absolute;
	background: #edede9ff;
	width: 10vw;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    display: flex;
    flex-direction: column;
    
}

.submenu li a{
	padding: 10px;
	color: black;
	font-family: 'Rethink Sans', sans-serif;
	text-decoration: none;
}

.menu-navegacion li:hover .submenu{
	visibility: visible;
	opacity: 1;
    z-index: 1;
    color:  #d5bdafff;
}

/*------Portada------*/

.port{
 width: 100%;
 position: absolute; 
}

.encabezado-portada {
    position: relative;
    padding-top: 15% ;
    padding-left: 30%;
    padding-right: 30%;
    flex-direction: column;  
    color: rgb(255, 255, 255);
    font-size: 5vw;
    font-family: 'Rethink Sans', sans-serif;
    text-align: center;
     
}

.bajo-portada{
    position: relative;
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2vw;
    background-color:#e3d5caff;
    font-family: 'Rethink Sans', sans-serif;
    
}  

/*------Contenido------*/

.contenido{
    position: left;
    padding: 5vw 20vw;
    
}

.imagencontenido{
    width: 40vw;    
}

.fondoparrafo{   
    background-color: #edede9ff ; 
    font-family: 'Rethink Sans', sans-serif;
    position: absolute;
    margin: -25vw 25vw;
    padding: 2vw;
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 25%;
    font-size: 1vw;
} 

.fondoparrafo div {
    color:#d6ccc2ff ;
    background-color: #d6ccc2ff;
    font-size: 20px;
    width: 15%;
    position: absolute;
    margin-top: -25px;
    margin-right: 90% ;
}

.tituloparrafo{
  width: 70%;
  margin-left: -30%;
  font-size: 3vw;
} 

/*------Productos------*/
.galeria-menu{
    display: flex;
    justify-content: space-around;
    margin: 3vw;

}
.galeria-menu img{
    border-radius: 5vw;
    height: 800px;
    border: solid 1px black;
}

/*------Pie de página------*/
footer{
    background-color:#edede9ff; 
    padding-bottom: 1vw ; 
}
footer div section{
    display: flex;
    justify-content: center;
}
.textos-footer{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 1.2vw;
    font-weight: 700px;
       
} 
section p a{
  text-decoration: none;
  color: black;
}
section p a:hover{
   color: chocolate;
   text-decoration: none;
}

.nuestras-redes h2{
    display: block;
    padding: 1vw;
    text-align: center;
    font-family:'Rethink Sans', sans-serif ;
}
div section p img{
    width: 3vw;
    padding-right: 1vw;
    
}

div section p{
    display: flex;
    align-items: center;
    padding: 1vw 8vw;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 2vw;
    justify-content: space-around;
    
}


/*----------SHOP----------*/

.s-portada{
    display: flex;
    box-sizing: border-box;
    margin-top: 1vw;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 700px;
}

.s2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.s2 div h3 {
    display: flex;
    width: 100%;
    justify-content: center;   
}

.s2 div{
    position: absolute;
    width: 30%;
    text-align: center;
}
.s-d-port{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-portada div img{
    width: 30vw;
    height: 45vw;
    border-radius: 3vw;
    border: 2px solid black;
}
.shop-parrafo-portada{
    position: absolute;
    width: 300px;

}
.s2 img{
    width: 100%;
    border-radius: 3vw;
    z-index: -20;       
}
.s1{
    position: absolute;
    display: block;
    margin-top: 10vw;
}

.s2 h1{
    font-size: 2.5vw;
    font-family: 'Lobster', sans-serif;
}
.s2 h2{
    font-size: 4vw;
    font-family: 'Rethink Sans', sans-serif;
}
.s2 h3{
    border-radius: 5vw;
    width: 6vw;
    font-size: 1vw;
    font-family: 'Rethink Sans', sans-serif;
    color: black;
    text-decoration: none;
}
.s2 h3:hover{
    color: black;
    
}

.fancy-button{
    display: block;
    width: 6vw;
    border-radius: 5vw;
    border: 1px solid black;
    text-decoration: none;
    color: #222;
    padding: 6px 10px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    transition: color .6s;
}

.fancy-button::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color:#F5EBE0ff;
    z-index: -1;
    left: 100%;
    width: 0%;
    transition: .6s;
    border-radius: 5vw;
}
.fancy-button:hover{
    color: white;
}
.fancy-button:hover::before{
    left: 0%;
    width: 100%;
    transition: width .6s;
    background-color:#d6ccc2ff;
    
}
/*............*/
.productos-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.productos-menu div{
    width: 400px;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.productos-menu div img{
    width: 400px;
    border-radius: 3vw;
    border: 2px solid black;
}

.titulo-shop-productos{
    position: absolute;
    color: white;
    text-decoration: none;
    background-color: #222;
    border-radius: 2vw;
    padding: 0.5vw;
}
.titulo-shop-productos :hover {
    color: rgb(218, 39, 72) ;
    transition: 0.5s;
}


/*............*/
.s-portada2{
    display: grid;
    margin: 1vw;
    grid-template-columns: repeat(2,2fr) ;
    grid-template-rows: repeat(2,2fr);
    grid-gap: 10px;
    grid-template-areas: 
    "perchas parrafo"
    "sale    parrafo" ;
     
   
}

.s-portada2 img{
    border-radius: 3vw; 
    border: 3px solid black;
    height: 100%;    
}
.div-perchas{
    grid-area: perchas;
}
.perchas{
    width: 100%;
    height: 40vw;
}
.divimg-fondo-par{
    display: flex;
    grid-area: parrafo;
    justify-content: end;
    
}
.img-fondo-par{
    width: 100%;
    height: 80vw;
}
.shop-parrafo-portada2{
    position: absolute;
    width: 12vw;
    margin-right: 8vw ;
    margin-top: 12vw;
}
.s22{
    font-family: 'Rethink Sans', sans-serif; 
    grid-area: sale;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ssi{
    width: 100%;
    height: 40vw;
}
.ss1{
  position: absolute;
  z-index: 1;
}


.fancy-button2{
    border-radius: 5vw;
    border: 1px solid black ;
    text-decoration: none;
    color: #222;
    padding: 6px 10px; 
    text-align: center;
    position: relative;
    transition: color .6s;
}

.fancy-button2::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #F5EBE0ff;
    z-index: -1;
    left: 100%;
    width: 0%;
    transition: .6s;
    border-radius: 5vw;
}
.fancy-button2:hover{
    color: white;
}
.fancy-button2:hover::before{
    left: 0%;
    width: 100%;
    transition: width .6s;
    background-color:#d6ccc2ff;
}  

/*----------ABOUT----------*/

.about{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:left;
    height: 50vw;
    color: white;
    font-family: 'Rethink Sans', sans-serif;
    background-image: linear-gradient(to right,rgb(0 0 0/.05),rgb(0 0 0/.05)),url(../imagenes/Fondos/fondo6.png);
    background-size: contain;
    background-position: center;
}  

.about h1{
    width: 50%;
    height: 0.1%;
    text-align: center;
    margin-top: 3vw;
    font-size: 3vw;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: bold;
}
.about p{
    margin: 0vw 3vw 0vw 3vw;
}
.about div{
    display: flex;
    flex-flow: row wrap;
}
.about .a1{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 30vw;
    margin-bottom: 5vw;
    font-size: 1.3vw;
    
}
.ap1{
    width: 50%;
    font-size: 1.5vw;
    
}
.a2{
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}
.a2 h2{
    font-size: 3vw;    
}
.a2 p{
    width: 100%;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 3vw;
}

/*----------JOURNAL----------*/
.d-div{
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    
}
.d-div1{
    width: 98%;
    background-color:  #d6ccc2ff; 
    border-radius: 15vw;    
}
.d-div1{
    display: flex;
    box-sizing: border-box;
    margin: 1vw;
    padding: 3vw 5vw;
    flex-flow: row wrap;
    justify-content:start;
    font-family: 'Rethink Sans', sans-serif;
}
.d-div1 p a{
    color: white;
    text-decoration:none;    
}
.d-div10{
    padding: 2vw;
}


.d-div1 div h4{
    position: absolute;
    transform: rotate(-90deg);
    font-size: .7vw;
    margin-top: 2.2vw;
    margin-left: -3vw;  
}
.d-div1 .d-div11{
    width: 15%;
    padding: 2vw 15vw 2vw 5vw;
}
.d-div12{
    padding: 1vw 3vw 1vw 3vw ;
}
.d-div13{
    padding: 1vw 3vw 1vw 3vw ;
    font-size: .9vw;
}
.d-div12{
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: .9vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
    align-items: center; 
}
.d-div13{
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: .9vw;
    align-items: center; 
}

.d-div12 .d-h4{
    transform: rotate(-90deg);
    font-size: .7vw;
    margin-left: -9.7vw;
    margin-top: 4.2vw;
    font-weight: bold;
}
.d-div13 .d-h4{
    transform: rotate(-90deg);
    font-size: .7vw;
    margin-left: -9.8vw;
    margin-top: 2.2vw;
    font-weight: bold;
}
.d-i1{
    width: 20vw;
}
.d-i2{
    width: 9vw;
}


/*  diario contenedor */

.diario-contenedor{
    display: grid;
    box-sizing: border-box;
    width: 1519px;
    grid-template-columns: repeat(3,490px);
    grid-template-rows: repeat(4,420px);
    grid-gap: 20px;
    grid-template-areas:
    "di1 di3 di3 "
    "di1 di4 di6"
    "di2 di4 di6"
    "di2 di5 di5" ; 
    margin-top: 30px;
}
.di-1{
    grid-area:di1 ;
    background: linear-gradient(
    to right,
    white 0%,
    white 30%,
    #edede9ff 30%,
    #edede9ff 100%
  );
  display: flex;
  align-items:center ;
  

} 
.di-1-1{
    background-color: #ccccccff;
    padding: 15px 12px;
    color: #ccccccff;
    font-size: 2vw;
    align-self: flex-start;
    position: absolute;
    margin-left: 50px;
    margin-top: -15px;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    
}
.di-1 h1{
    transform: rotate(-90deg);
    width: 100px;
    height: 30px;
    font-size: 3vw;
    text-align: center;
    text-wrap: nowrap;
    margin-bottom: 150px ;
    font-family: 'Rethink Sans', sans-serif;
   
}
.di-1 img{
    height: 500px;
    margin-right: 50px;
    margin-bottom: 200px ;
}
.di-1-2{
    background-color:#ccccccff ;
    position: absolute;
    padding: 2vw 6vw;
    font-family: 'Rethink Sans', sans-serif;
    color: white;
    text-align: center;
    align-self:flex-end;
    margin-left: 75px ;
    margin-bottom: 50px;
}
.di-1-2-h2-1{
    font-size: 2vw;
}
.di-1-2-h2-2{
    font-size: 4vw;
}
.di-2{
    grid-area: di2;
    display: flex;
    flex-flow: column wrap;
    background-color:#ccccccff ;   
    padding: 2vw 6vw;
    margin-left: 75px ;
    margin-bottom: 200px;
    justify-content: space-between;
    

}
.di-2 img{
    height: 400px;
    clip-path: polygon(15% 0, 75% 0, 100% 15%, 100% 50%, 100% 100%, 85% 100%, 25% 100%, 0 85%, 0 50%, 0 0);
}
.di-2-h2{
    
    font-family: 'Rethink Sans', sans-serif;
    color: black;
    font-size: 0.7vw;
    align-self: center;
    
}
.di-2-1{
    font-family: 'Rethink Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 2vw;
    background-color: white;
    text-shadow: #222 2px 2px 10px;
}

.di-3{
    grid-area: di3;   
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    box-sizing: border-box;
    
}
.di-3 h2{
    font-family: 'Rethink Sans', sans-serif; 
    font-size: 3vw;
    text-shadow: black 3px 7px 8px ;
}

.di-3-1{
    display: flex;
    width: 100%;
    height: 370px;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items:center;
    justify-content: center;
    margin-top: 2vw;

    
}
.di-3-1 img{
   transform: rotate(13deg); 
   padding: 10px;
   height: 325px;
   width: 220px; 
   background-position-x:center;
   background-position-y: top;
}
.di-3 p{
    width: 80%;
    margin-top: 2vw ;
    font-family: 'Rethink Sans', sans-serif;
    align-self: center;
}
.di-4{
    grid-area: di4; 
    background: linear-gradient(
    to left,
    #f2f2f2ff 0%,
    #f2f2f2ff 50%,
    #a5a5a5ff 50%,
    #a5a5a5ff 100%
  ); 
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 100px;
  
}
.di-4 img{
    height: 500px;
    margin-left: 35px;
    border-radius: 11vw;
}
.di-4-1{
    display: flex;
    width: 480px;
    flex-flow: column nowrap;
    text-align: end;
    position: absolute;
    align-items: end;
    
}
.di-4-1 h3{
   font-family: 'Rethink Sans', sans-serif;
   font-size: 20px;
}
.di-4-1-1{
    background-color:white ;
    width: 190px;
    padding-right: 5px;
    border-top-right-radius: 1vw;
    border-end-start-radius: 1vw;
}
.di-4-1-2{
    background-color:#ccccccff ;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    color: #595959ff;
    border-top-right-radius: 1vw;
    border-end-start-radius: 1vw;
}
.di-4-1-3{
    background-color:#595959ff ;
    width: 150px;
    padding-right: 5px;
    color: white;
    border-top-right-radius: 1vw;
    border-end-start-radius: 1vw;
}
.di-5{
  grid-area: di5; 
  display: flex;
  background-color: #7f7f7fff;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
}
.di-5-1{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    text-align: center;
    align-items: center;
}
.di-5-1-1{
    font-size: 10vw;
    height: 100px;
    width: 100%;
}
.di-5-1-2{
    font-size: 2.5vw;
    padding-bottom: 1vw;
}
.di-5-1-p1{
    width: 60%;
}
.di-5-1-p2{
    background-color: #f2f2f2ff ;
    padding: 10px;
    margin-top: 30px;
}
.div5-a{
    color: white;
    background-color: #7f7f7fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1vw;
    margin-left: 10px;
}

.di-5 img{
    height: 300px;
    background-color: #f2f2f2ff;
    padding: 1vw;
 
}
.di-6{
    grid-area: di6;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    background-color: #7f7f7fff; 
}
.di-6 h1{
    font-family: 'Rethink Sans', sans-serif;
    font-size: 2vw;
}
.di-6 p{
    width: 80%;
    font-size: 1vw;
}
.di-6 img{
    width: 450px;
}



/*----------CONTACTO----------*/

/*------Formulario------*/

.c-main section{
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
    
}
.c-main{
    display: block;
    background-color:#ccc5b9ff;
    padding: 2vw ;
    margin: 2vw;
    border-radius: 1vw;
}

.form{
    display: inline-block;
    background-color:#fffcf2ff;
    padding: 0.5vw 2.5vw 2vw 2vw;
    width: 20vw;
    text-align: left;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: bold;
    border-radius: 1vw;
    
}
.form div{
    font-size: 1vw;
    padding: 0.5vw;
}

.form input{    
    width: 20vw;    
}

.botones{
    width: 5vw !important;
    margin-left: 1vw;
    margin-bottom: 1vw;
    
}
/*------Info contacto------*/

.c-contacto  {
    display: inline-flex;
    background-color: #fffcf2ff;
    padding: 2vw !important;
    width: 27vw;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: bold;
    border-radius: 1vw;
    justify-content: center;
    
}

.c-contacto div p img{
    width: 1.2vw;
    padding-right: 10px;
}
.c-contacto div{
    width: 100%;
}
.c-contacto div p{
    display: flex;
    padding: 1vw 0.5vw;
    font-size: 1.2vw;
    text-align: left;
}

.c-contacto h3{
    font-size: 2.2vw;
}

.c-info-contacto{
    display: block;
    margin-top: 3.3vw;
    width: 30vw;
    
}

#mensaje{
    resize:none;
    width: 20vw;
    
}

@media  (max-width: 480px) {
    body{
        background-color: aqua;
    }

    
}