/* header */
header{ 
    background-color:$bizon; 
    height: 77.55px;
    z-index: 1; 
    margin-bottom: 0;
    .logonav {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-bottom: 0;
        float:left;    
        font-family: $font;
        font-size: 3vw;
        text-decoration: none;
        color: black;
        font-weight: bold;
        height: 99%;  
    }
    .navegacion{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        height: 100%;
        .menu-navegacion{
            text-align: center;
            margin-bottom: 0;
            margin-top: 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: end;
            padding-left: 0;
            li {
                list-style: none;
                display: inline-block; 
                margin-bottom: 15px;
                height: 26.4px; 
            }
            li a{ 
                text-decoration: none;
                height: 29px;
                display: flex;
                justify-content: space-around;
                padding: 0 3.5vw; 
                font-size: 1.3vw;
                font-family:$font2;
                color: black; 
                font-weight: $negrita;
                
            }
            li a:hover{
                text-decoration: underline;
                color:$naranja;
                transition: 1s;
            }
            .submenu{
                position: absolute;
                background: $amarillo;
                width: 10vw;
                visibility: hidden; 
                opacity: 0;
                transition: opacity 1.5s;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                li{
                    padding: 1.5vw;
                    a{
                        color: black;
                        font-family: $font2 ;
                        text-decoration: none;
                        
                    }
                    a:hover{
                        color: $piel;
                    }  
                }
                
                
            }
            li:hover .submenu{
                visibility: visible;
                opacity: 1;
                z-index: 1;
                color:  $piel;
                
            }
        }
        
    }
}
footer{
    background-color:$amarillo; 
    padding-bottom: 1vw ;
    .nuestras-redes h2{
        display: block;
        padding: 1vw;
        text-align: center;
        font-family:$font2;
    }
    div section{
        display: flex;
        justify-content: center;
        p{
            display: flex;
            align-items: center;
            padding: 1vw 8vw;
            font-family: $font2;
            font-size: 2vw;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: chocolate;
                text-decoration: none;
            }
        }
        img{
            width: 3vw;
            padding-right: 1vw;
        }    
    }
    .textos-footer{
        text-align: center;
        font-family: $font4 ;
        color:black;
        font-size: 1.2vw;
        font-weight: 700px;
           
    } 
}