/* Media Quearies */
@media only screen and (max-width: 480px) {
    .menu{
        opacity: 0 ;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 15px;
        background-color:#edede9ff ;
        padding: 1vw;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5) ;
        z-index: 1;
        box-sizing: border-box;
    }
    .menu-navegacion{
        flex-direction: column;
        align-items: end;
        margin-right: 0;
        bottom: 0;
        justify-content: start;
    }
   
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2vw;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        display:inline-flex;
        align-self: center;
        right: 0;
    }
    .cerrar-menu{
        color: black;
        display: block;
        align-self: center;
        cursor: pointer;
        font-size: 2vw; 
      }
        .menu.visible {
        opacity: 1;
        visibility: visible;
        
    }
    .logonav{
        font-size: 8vw;
    }
    .galeria-menu img{
        height: 200px;
    }
    /* home */
    main .contenido .fondoparrafo div {
        font-size: 4px ;
        width: 15% ;
        margin-top: -5px ;
        margin-right: 95% ;
    } 
  
    main .galeria-menu img{
        height: 150px ;
        
    }
    /* shop */
    main .s-portada{
        flex-flow: column wrap ;
        height: 250px ;
    }
    
    main .s-portada .s-d-port .shop-parrafo-portada{
     font-size: 1vw ;
     width: 80px ;
     margin-top: 3vw ;   
    } 
    main .s-portada2 .divimg-fondo-par .shop-parrafo-portada2{
      font-size: 1.2vw ;
      margin-top: 11vw ;
      margin-right: 6vw ;
      width: 16vw ;  
    }
    /* Journal */
    .d-div .d-div1 {
        display: flex ;
        flex-flow: column wrap ;
        height: auto ;
    }
    .d-div .d-div1 div h4{
        font-size: 2vw ;
        margin-left: -9vw ;
        margin-top: 7vw ;
    }
    .d-div10 {
        align-self: center;
        width: auto;
    }
    .d-div .d-div1 .d-div10 .d-i1 {
        width: 300px ; 
        
    }
    .d-div11{
        width: 450px ;
        text-align: center;
        padding: 0;
        margin-left: 12vw;
    }
    .d-div .d-div1 .d-div11 h3{
       width: 250px;
       font-size: 3vw ;
       font-weight: bold ;
        
    }
    .d-div .d-div1 .d-div11 p {
      font-size: 3vw ;
      width: 250px ;
    }
    .d-div .d-div1 .d-div12{
      display: flex  ;
      flex-flow: row wrap  ;
      border-left: none  ;
      border-right: none  ;
      width: 100%  ;
    }
    
    .d-div .d-div1 .d-div12 .d-i2 {
        width: 200px ;
        
    }
    .d-div .d-div1 .d-div12 .d-h4{
        font-size: 2vw ;
        margin-top: -35vw ;
        left: 15px ;
        
        
    }
    .d-div .d-div1 .d-div12 h3 {
        font-size: 5vw ;
        width: 150px ;
        align-self: self-start ;
        margin-left: 5vw ;
        
    }
    .d-div .d-div1 .d-div12 p {
        font-size: 3vw ;
        width: 100px ;
        position: absolute ;
        right: 45px ;
    }
    
    .d-div .d-div1 .d-div13{
        display: flex ;
        flex-flow: row wrap ;
        border-left: none ;
        border-right: none ;
        width: 100% ;
    }
    .d-div .d-div1 .d-div13 .d-i2{
     width: 200px ;     
    }
    .d-div .d-div1 .d-div13 .d-h4{
        font-size: 2vw ;
        margin-top: -35vw ;
    }    
    .d-div .d-div1 .d-div13 h3 {
        font-size: 5vw ;
        width: 150px ; 
        align-self: self-start ;
        margin-left: 5vw ;
        
    }
    .d-div .d-div1 .d-div13 p {
        font-size: 3vw ;
        width: 100px ;
        position: absolute ;
        right: 45px ;
        margin-top:100px ;
    }
      
    .d-div .diario-contenedor{
        display: none ;
    }
    /* .diario-contenedor{
      display: grid;
      box-sizing: border-box;
      width: 100%;
      grid-template-columns: repeat(3,160px);
      grid-template-rows: repeat(4,200px);
      grid-gap: 20px;
      grid-template-areas:
      "none di1 none "
      "di3  di3 di3 "
      "none di4 di6"
      "di2  di5 di5" ; 
      margin-top: 30px;  
    }
    
    .di-1 h1{
        font-size: 2vw;
        margin-bottom: 280px ;
        margin-right:-35px;
    }
    .di-1 img{
        height: 150px;
    }
    .di-1-2{
    
    } */

    
    /* About */
   
    .about div .a1 h2{
        font-size: 2vw ;
        margin-bottom: 0 ;
    }
    .about div .a2 p{
      margin-bottom: 5vw ;  
    }
    /* Botones */
    .c-main section .form .botones{
        width: 100%   ;
        margin-left: 0 ;
        margin-bottom: 0 ;
        font-size: 1.5vw ;
    }
   /*  header{
       height: 50px;
    }
    
    .navegacion{
        justify-content: end;
        width: 70%;
    }
    
    }
    
  .menu-navegacion{    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background-color: #edede9ff;
    z-index: 1;
    align-items: center;
    width: 100px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
  }
 
  .menu-navegacion li{
    margin: 0;
    height: 10px;
    justify-content: start;
    
  }
  .menu-navegacion li a{
    right: 0;
    top:0;
    bottom: 0;
    padding: 0 2vw;
    height: 10px;
    color: black;
    text-align: left;
    box-sizing: border-box;
  }
  .submenu{
    display: none;
  }
 
  
 */
 
  
}